USE [master]
GO
/****** Object:  Database [Microservice]    Script Date: 14-05-2025 23:15:49 ******/
CREATE DATABASE [Microservice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Microservice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Microservice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservice]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14-05-2025 23:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryType] [nvarchar](100) NOT NULL,
	[Orders] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StreetAddress] [nvarchar](200) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[PostalAddress] [nvarchar](200) NOT NULL,
	[Zip] [nvarchar](20) NOT NULL,
	[ContactNumber] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCompany]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCompany]
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(100),
    @StreetAddress NVARCHAR(200),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @PostalAddress NVARCHAR(200),
    @Zip NVARCHAR(20),
    @ContactNumber NVARCHAR(20)
AS
BEGIN
    INSERT INTO Companies VALUES (@Id, @Name, @StreetAddress, @City, @State, @PostalAddress, @Zip, @ContactNumber)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProduct]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateProduct]
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(100),
    @Category NVARCHAR(100),
    @Manufacturer NVARCHAR(100),
    @Quantity INT,
    @Price DECIMAL(18, 2),
    @Image VARBINARY(MAX)
AS
BEGIN
    INSERT INTO Products (Id, Name, Category, Manufacturer, Quantity, Price, Image)
    VALUES (@Id, @Name, @Category, @Manufacturer, @Quantity, @Price, @Image);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCategory]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Categories WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCompany]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCompany] @Id UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Companies WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteProduct]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Products WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SELECT Id, CategoryName, CategoryType, Orders FROM Categories;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCompanies]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCompanies]
AS
BEGIN
    SELECT * FROM Companies
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllProducts]
AS
BEGIN
    SELECT * FROM Products;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryById]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCategoryById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SELECT Id, CategoryName, CategoryType, Orders
    FROM Categories
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompanyById]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompanyById] @Id UNIQUEIDENTIFIER
AS
BEGIN
    SELECT * FROM Companies WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductById]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductById]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SELECT * FROM Products WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCategory]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCategory]
    @Id UNIQUEIDENTIFIER,
    @CategoryName NVARCHAR(100),
    @CategoryType NVARCHAR(100),
    @Orders INT
AS
BEGIN
    INSERT INTO Categories (Id, CategoryName, CategoryType, Orders)
    VALUES (@Id, @CategoryName, @CategoryType, @Orders);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategory]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCategory]
    @Id UNIQUEIDENTIFIER,
    @CategoryName NVARCHAR(100),
    @CategoryType NVARCHAR(100),
    @Orders INT
AS
BEGIN
    UPDATE Categories
    SET CategoryName = @CategoryName,
        CategoryType = @CategoryType,
        Orders = @Orders
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCompany]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCompany]
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(100),
    @StreetAddress NVARCHAR(200),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @PostalAddress NVARCHAR(200),
    @Zip NVARCHAR(20),
    @ContactNumber NVARCHAR(20)
AS
BEGIN
    UPDATE Companies
    SET Name = @Name, StreetAddress = @StreetAddress, City = @City, State = @State,
        PostalAddress = @PostalAddress, Zip = @Zip, ContactNumber = @ContactNumber
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 14-05-2025 23:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(100),
    @Category NVARCHAR(100),
    @Manufacturer NVARCHAR(100),
    @Quantity INT,
    @Price DECIMAL(18, 2),
    @Image VARBINARY(MAX)
AS
BEGIN
    UPDATE Products
    SET Name = @Name,
        Category = @Category,
        Manufacturer = @Manufacturer,
        Quantity = @Quantity,
        Price = @Price,
        Image = @Image
    WHERE Id = @Id;
END
GO
USE [master]
GO
